<div class="container">
    <table class="table-primary table-responsive w-100 mb-3" *ngIf="user">
        <tr>
            <td class="fs-15">Nom d'utilisateur</td>
            <td class="text-end text-muted">{{ user.username }}</td>
        </tr>
        <tr>
            <td class="fs-15">Adresse Email</td>
            <td class="text-end text-muted">{{ user.email }}</td>
        </tr>
    </table>
    <hr>
    <button class="btn btn-outline-primary w-100 mb-2">Visualiser mon compte</button>
    <button class="btn btn-danger w-100" (click)="logout()">Déconnexion</button>
</div>