<div class="container">
    <div class="card w-50 m-auto" *ngIf="user">
        <div class="card-header d-flex justify-content-center flex-column p-4 bg-myPrimary">
            <img class="m-auto rounded-circle" [src]="picturePath" alt="">
            <span class="text-center mt-4 h3 fw-bold text-warning text-uppercase letter-spacing-2">{{ role }}</span>
        </div>

        <div class="card-body">
            <div class="row mt-3">
                <div class="col-4 ms-4">
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="col-5">
                    {{ user.username }}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 ms-4">
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                </div>
                <div class="col-5">
                    {{ user.email }}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 ms-4">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="col-5">
                    {{ user.address }}
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-4 ms-4">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                </div>
                <div class="col-5">
                    <a class="text-decoration-underline text-primary onClick" (click)='goToMyProducts()'>Mes produits</a>
                </div>
            </div>
            <hr />

            <div class="mt-5 text-center">
                <button class="btn btn-gradiantWarning rounded-pill text-white pt-2 pb-2 ps-3 pe-3" (click)="goToEditProfile(user)">
                    Modifier le profile
                </button>
            </div>
        </div>
    </div>
    <div class="screen-center d-flex flex-column" *ngIf="!user">
        <div class="spinner-border text-myPrimary m-auto mb-4 h5">
            <span class="visually-hidden">Chargement</span>
        </div>
        <span class="alert alert-warning">Si la page ne s'affiche pas, merci de rafraîchir la page</span>
    </div>
</div>