<nav class="navbar navbar-expand-md mb-5">
    <div class="container">
        <span></span>
        <h1><a class="navbar-brand fts-10 text-white letter-spacing-1" href="/">Cisway</a></h1>
        <span data-bs-toggle="modal" data-bs-target="#account" class="me-3 fs-3 onClick">
            <i class="fa-solid fa-user-check text-warning" *ngIf="_authService.isLogged"></i>
            <i class="fa-solid fa-user-xmark text-danger" *ngIf="!_authService.isLogged"></i>
        </span>
    </div>
</nav>


<div class="modal fade" id="account" #modalLogin>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" *ngIf="!_authService.isLogged">
            <div class="modal-header">
                <h5 class="modal-title">Connexion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <app-login ></app-login>
            </div>
        </div>

        <div class="modal-content" *ngIf="_authService.isLogged">
            <div class="modal-header">
                <h5 class="modal-title">Mon compte</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-column w-50 m-auto">
                    <button class="btn btn-outline-primary mb-2" (click)="goToAccount()" data-bs-dismiss="modal">
                        <i class="fa-solid fa-user"></i>
                        Visualiser mon compte
                    </button>
                    <button class="btn btn-outline-primary mb-2" (click)="goToBag()" data-bs-dismiss="modal">
                        <i class="fa-solid fa-cart-shopping"></i> Accéder au panier
                    </button> 
                    <button class="btn btn-outline-warning mb-2" (click)="goToAdmin()" data-bs-dismiss="modal" *ngIf="isAdmin">
                        <i class="fa-solid fa-lock"></i> Espace Administrateur
                    </button> 
                    <hr class="mb-2">
                    <button class="btn btn-danger" (click)="logout()">Déconnexion</button>
                </div>
            </div>
        </div>
    </div>
</div>