$myPrimary: #009688!important;
$myWarning: rgb(208, 177, 24)!important;

// $myPrimaryForced: #a3ddd7;
// $myWarningForced: rgb(177, 151, 20)!important;

$white: #fff;

$colors: 
    ('myPrimary', $myPrimary), 
    ('myWarning', $myWarning);