$myPrimary: #009688!important;
$myWarning: rgb(208, 177, 24)!important;
$error: rgb(100, 0, 0);
$setting: rgb(179, 179, 179);
$mandatory: rgb(216, 140, 0);

$gradiantPrimary: linear-gradient(90deg, #009688 0%, #00c7bd 100%) no-repeat;
$gradiantWarning: linear-gradient(90deg, rgba(255,101,0,1) 0%, rgb(252, 193, 0) 100%) no-repeat;

$white: #fff;

$colors: 
    ('myPrimary', $myPrimary), 
    ('myWarning', $myWarning),
    ('error', $error),
    ('setting', $setting),
    ('mandatory', $mandatory),
    ('gradiantPrimary', $gradiantPrimary), 
    ('gradiantWarning', $gradiantWarning); 