
@import '_variables.scss';

@for $i from 0 through 10{
    .fts-#{$i} {
        font-size: 18px + $i;
    }

    .letter-spacing-#{$i} {
        letter-spacing: 0px + $i;
    }

    .flex-gap-#{$i} {
        gap: $i + 0px;
    }
}

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }

    .btn-#{$name} {
        background-color: $color; 
    }
}


.onClick {
    cursor: pointer;
} 

nav {
    background-color: $primary;
    span {
        color: white;
    }
}