
@import '_variables.scss';

@for $i from 0 through 10{
    .fts-#{$i} {
        font-size: 18px + $i;
    }

    .letter-spacing-#{$i} {
        letter-spacing: 0px + $i;
    }

    .flex-gap-#{$i} {
        gap: $i + 0px;
    }

    .width-#{$i} {
        width: $i * 1%;
    }
}

@each $name, $color in $colors {
    .text-#{$name} {
        color: $color;
    }

    .btn-#{$name} {
        background: $color; 
        color: $white;
    }

    .bg-#{$name} {
        background: $color;
    }

    .table-#{$name} {
        background-color: $color;
    }
}


.onClick {
    cursor: pointer;
} 

nav {
    background-color: $myPrimary;
    span {
        color: white;
    }
}

.screen-center {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
}
