<div class="container mt-5">
    
    <h2 class="mb-3">Liste des produits</h2>
    <hr>
    <div class="btn-group float-end">
        <button class="btn btn-success" (click)="newProduct()">Nouveau</button>
    </div>
    
    <table class="table table-responsive table-striped table-hover caption-top">
        <caption class="fst-italic text-myWarning ms-3">Liste des produits</caption>
        <thead>
            <tr class="table-myPrimary text-white">
                <th>ID</th>
                <th class="text-center">Nom</th>
                <th class="text-center">Prix</th>
                <th class="text-center">Utilisateur</th>
            </tr>
        </thead>
        <tbody>
            <tr class="onClick" *ngFor="let product of products" (click)="goToProduct(product)"  >
                <th>{{ product.id }}</th>
                <td class="text-center">{{ product.name }}</td>
                <td class="text-center">{{ product.price }}</td>
                <td class="text-center">{{ product.username }}</td>
            </tr>
        </tbody>
    </table>
</div>